<div class="container-fluid">
  <div style="width:100%">
    <div style="float:left; width:20%;">Filters</div>
    <div style="float:left; width:60%;">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="thumbnail">
              <% if user_signed_in? %>
                <% current_user.roles.each do |role| %>
                  <% @admin_flage = (role.role_name == "Admin" ? "Y" : "N" )%>
                <% end %>
                <% if @admin_flage == "Y" %>
                  <%= link_to image_tag(product.image.url(:thumb), alt: product.name), admin_product_path(product) %>
                <% else %>
                  <%= link_to image_tag(product.image.url(:thumb), alt: product.name), product_path(product) %>
                <% end %>
              <% else %>
                <%= link_to image_tag(product.image.url(:thumb), alt: product.name), product_path(product) %>
              <% end %>
              <div class="caption">
                <h5><%= product.name %></h5>
                <h4>Rs <%= product.price %></h4>

                <p></p>
                <p><a href="#" class="btn btn-success" role="button">Add to cart</a> <a href="#" class="btn btn-info" role="button">Details</a></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="float:left; width:19%; margin-left:10px;">Offers</div>
  </div>
</div>