<div class="container-fluid">
  <div style="width:100%">
    <div style="float:left; width:20%;">Filters</div>
    <div style="float:left; width:60%;">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="thumbnail">
              <% if user_signed_in? %>
                <% current_user.roles.each do |role| %>
                  <% @admin_flage = (role.role_name == "Admin" ? "Y" : "N" )%>
                <% end %>
                <% if @admin_flage == "Y" %>
                  <%= link_to image_tag(product.image.url(:thumb), alt: product.name), admin_product_path(product) %>
                <% else %>
                  <%= link_to image_tag(product.image.url(:thumb), alt: product.name), product_path(product) %>
                <% end %>
              <% else %>
                <%= link_to image_tag(product.image.url(:thumb), alt: product.name), product_path(product) %>
              <% end %>
              <div class="caption">
                <h5><%= product.name %></h5>
                <h4>Rs <%= product.price %></h4>
                <p>
                  <% if user_signed_in? %>
                    <% if @current_cart.line_items.where(product_id: product.id).first == nil %>
                      <input type="button" value="Add to Cart" class="add_product_to_cart btn-success" id="add_to_cart_<%= product.id %>" >
                    <% else %>
                      <input type="button" value="Added to Cart" disabled= "true" class="add_product_to_cart disable" id="add_to_cart_<%= product.id %>" >
                    <% end %>
                    <% if @admin_flage == "Y" %>
                      <a href="/admin/products/<%= product.id %>/edit" class="btn btn-info" role="button">Edit</a>
                    <% end %>
                  <% else %>
                    <input type="button" value="Add to Cart" class="add_product_to_cart btn-success" id="add_to_cart_<%= product.id %>" >
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="float:left; width:15%; margin-left:10px;">Offers</div>
  </div>
</div>