<div class="container">
<h2>Order Details</h2><hr/>
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Order ID:</strong>
        <%= @order.id %>
      </p>

      <p>
        <strong>Order Date:</strong>
        <%= @order.created_at.strftime("%d %B, %Y %I:%M %p") %>
      </p>
      <table border="1">
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Qty</th>
          <th>Unit Price</th>
          <th>Sub Total</th>
        </tr>
        <% @order.line_items.each do |item| %>
          <tr>
            <% if item %>
              <td>
                <% if item.product.image? %>
                  <%= image_tag item.product.image.url(:small) %><br />
                <% end %>
              </td>
              <td><%= item.product.name %></td>
              <td><%= item.quantity %></td>
              <td><%= item.product.price %></td>
              <td><%= @total = item.product.price*item.quantity %></td> 
            <% end %>
          </tr>
        <% end %>
      </table><br/>
    </div>

    <div class="col-md-6">
      <p>
        <h3><%= current_user.full_name %></h3>
      </p>

      <p>
        <strong>Delivery Address:</strong>
        <%= @order.address %>
      </p>
      <h4>Total Amount: Rs. <%= @order.total %></h4><br />
      <a href="/" class="btn btn-primary" role="button">Continue Shopping</a>
    </div>
  </div>
</div>