<div class="container">
<h2>Order Details</h2><hr/>
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Order ID:</strong>
        <%= @order.id %>
      </p>

      <p>
        <strong>Order Date:</strong>
        <%= @order.created_at.strftime("%d %B, %Y %I:%M %p") %>
      </p>
    </div>

    <div class="col-md-6">
      <p>
        <h3><%= current_user.full_name %></h3>
      </p>

      <p>
        <strong>Delivery Address:</strong>
        <%= @order.address %>
      </p>
    </div>
  </div>
  <table border="1">
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th class="price">Unit Price</th>
      <th class="price">Sub Total</th>
    </tr>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= @total = item.product.price*item.quantity %></td> 
      </tr>
    <% end %>
  </table><br/>
  <h4>Total Amount:</h4>
  <h4>Rs. <%= @order.total %></h4><br/>
  <%= button_to "<Continue Shopping", root_path, :method => :get %>
</div>