<div class="container">
  <h2>Your Cart</h2>
  <table border="1">
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th class="price">Unit Price</th>
      <th class="price">Sub Total</th>
    </tr>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td>
          <%= form_for item, :url => line_item_path(item) do |f| %>
            <%= f.text_field :quantity, :value => item.quantity, :size => 2 %><br/>
            <span id = "quantity_error"></span>
            <%= f.submit "save" %>
          <% end %>
        </td>
        <td><%= item.product.price %></td>
        <td><%= @total = item.product.price*item.quantity %></td>
        <td><%= link_to 'Remove', line_item_path(item.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="total price" colspan="4">
        <b>Total:</b> <%= @cart.line_items.to_a.sum { |item| @total = item.product.price*item.quantity } %>
        <% @cart.total = @total %>
        <% @cart.save %>
      </td>
    </tr>
  </table><br/>
  <%= button_to 'Empty Cart', cart_path(@cart.id), :method => :delete %><br/>
  <%= button_to 'Place Order', new_order_path, :method => :get %><br/><br/>
  <%= button_to "<Continue Shopping", root_path, :method => :get %>
</div>