<h1>Shopmart</h1><hr/>
<h2>Your Cart</h2>
<table border="1">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th class="price">Unit Price</th>
    <th class="price">Sub Total</th>
  </tr>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.product.price %></td>
      <td><%= @total = item.product.price*item.quantity %></td>
      <td><%= link_to 'Edit', edit_line_item_path(item.id) %></td>
      <td><%= link_to 'Remove', line_item_path(item.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      <b>Total:</b> <%= @cart.line_items.to_a.sum { |item| @total = item.product.price*item.quantity } %>
      <% @cart.total = @total %>
    </td>
  </tr>
</table><br/>
<%= button_to 'Empty Cart', cart_path(@cart.id), :method => :delete %><br/>
<%= button_to 'Place Order', orders_path, :method => :post %><br/><br/>
<%= link_to "Back", root_path %>