<div class="container">
  <h2>Your Cart</h2>
  <table border="1">
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Qty</th>
      <th>Unit Price</th>
      <th>Sub Total</th>
    </tr>
    <% @current_cart.line_items.each do |item| %>
      <tr>
        <td>
          <% if item.product.image? %>
            <%= image_tag item.product.image.url(:small) %><br />
          <% end %>
        </td>
        <td><%= item.product.name %></td>
        <td>
          <%= form_for item, :url => line_item_path(item) do |f| %>
            <%= f.text_field :quantity, :value => item.quantity, :size => 2 %><br/>
            <span id = "quantity_error"></span>
            <%= f.submit "save" %>
          <% end %>
        </td>
        <td><%= item.product.price %></td>
        <td><%= item.product.price*item.quantity %></td>
        <td><%= link_to 'Remove', line_item_path(item.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5">
        <b>Total: </b><%= @current_cart.total %> 
      </td>
    </tr>
  </table><br/>
  <%= button_to 'Empty Cart', cart_path(@current_cart.id), :method => :delete %><br/>
  <%= button_to 'Place Order', new_order_path, :method => :get %><br/><br/>
  <a href="/" class="btn btn-primary" role="button">Continue Shopping</a>
</div>