<div class="container">
  <%= form_for @category, url: admin_categories_path do |f| %>
    <% if @category.errors %>
      <%= render "common/error_messages", :target => @category %>
    <% end %>
    <div class="field">
      <%= f.label :Add_category %><br />
      <%= f.text_field :category_name, autofocus: true, autocomplete: "off" %>
    </div>
    <div class="action">
      <%= f.submit %>
    </div>
  <% end %><br/>
  <a href="/admin/categories" class="btn btn-primary" role="button">Back</a>
</div>