<div class="container">
  <p><h3><%= @product.category.category_name %>s</h3></p>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <%= link_to 'Back', admin_products_path %>
</div>