<div class="container">
  <p><h3><%= @product.category.category_name %>s</h3></p>

  <% if @product.image? %>
    <%= image_tag @product.image.url %><br />
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <%= link_to 'Edit', edit_admin_product_path(@product) %><br/><br/>
  <%= button_to "Add to Cart", add_to_cart_path(:product_id => @product), :method => :post %><br/>
  <%= link_to 'Back', admin_products_path %>
</div>