<%= javascript_include_tag "add_to_cart.js" %>
<nav class="navbar navbar-default">
	<ul class="nav nav-pills">
	  <li role="presentation"><%= link_to "Home", root_path %></li>
	  <% if user_signed_in? %>
	  	<li role="presentation"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
	  <% else %>
		  <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
		  <li role="presentation"><%= link_to "Signup", new_user_registration_path %></li>
		<% end %>
	  <li role="presentation"><%= link_to "About Us", about_us_path %></li>
	  <li role="presentation"><%= link_to "Contact Us", contact_us_path %></li>
	</ul>
</nav>
<div class="container">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<div class="text-danger" id="message"></div>
	<%= button_to 'View Cart', cart_path(:id), :method => :get %><br/>
	<p><h3><%= @category.category %>s</h3></p><br/>
	<table class="table table-bordered">
		<thead>
	  <tr>
	    <th>Name</th>
	    <th>Price</th>
	    <th>Description</th>
	    <th colspan="2">Action</th>
	  </tr>
	  </thead>
	  <tbody>
		<% @category.products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= product.description %></td>
				<td><%= link_to 'Show', product_path(product) %></td>
				<% if @current_cart.line_items.where(product_id: product.id).first == nil %>
					<td><input type="button" value="Add to Cart" class="add_product_to_cart" id="add_to_cart_<%= product.id %>" ></td>
				<% else %>
					<td><input type="button" value="Added to Cart" disabled= "true" class="add_product_to_cart" id="add_to_cart_<%= product.id %>" ></td>
				<% end %>
				<%= hidden_field_tag('user', current_user) %>
			</tr>
		<% end %>
		</tbody>
	</table><br/>
	<%= link_to 'Back', root_path %>
</div>