<%= javascript_include_tag "add_to_cart.js" %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div id="message"></div>
<%= button_to 'View Cart', cart_path(:id), :method => :get %><br/>
<p><h3><%= @category.category %>s</h3></p><br/>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
  </tr>
	<% @category.products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.price %></td>
			<td><%= product.description %></td>
			<td><%= link_to 'Show', product_path(product) %></td>
			<td><input type="button" value="Add to Cart" class="add_product_to_cart" id="add_to_cart_<%= product.id%>" ></td>
			<%= hidden_field_tag('product_id', product.id) %>
		</tr>
	<% end %>
</table><br/>
<%= link_to 'Back', root_path %>