<div class="container">
  <div class="text-danger" id="message"></div>
  <p><h3><%= @category.category_name %>s :</h3></p><br/>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @category.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <% if user_signed_in? %>
          <% if @current_cart.line_items.where(product_id: product.id).first == nil %>
            <td><input type="button" value="Add to Cart" class="add_product_to_cart" id="add_to_cart_<%= product.id %>" ></td>
          <% else %>
            <td><input type="button" value="Added to Cart" disabled= "true" class="add_product_to_cart disable" id="add_to_cart_<%= product.id %>" ></td>
          <% end %>
        <% else %>
          <td><input type="button" value="Add to Cart" class="add_product_to_cart" id="add_to_cart_<%= product.id %>" ></td>
        <% end %>
        <%= hidden_field_tag('user', current_user) %>
      </tr>
    <% end %>
    </tbody>
  </table><br/>
  <%= button_to 'Back', root_path, :method => :get %>
</div>