<div class="container">
  <h2>Users List</h2><br/>
  <table id="user_table" class="table table-hover" border="1">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class = "clickable_column" data-link="<%= admin_user_path(user.id) %>">
            <%= user.full_name %>
          </td>
          <td class = "clickable_column" data-link="<%= admin_user_path(user.id) %>">
            <%= user.email %>
          </td>
          <td class = "clickable_column" data-link="<%= admin_user_path(user.id) %>">
            <%= user.roles.map(&:role_name) %>
          </td>
          <td><%= link_to 'Show', admin_user_path(user) %></td>
          <% if user.id == current_user.id %>
            <td><input type="button" value="You" disabled="true"></td>
            <td><input type="button" value="Remove" disabled= "true" ></td>
          <% else %>
            <% user.roles.each do |role| %>
              <% @admin_flage = (role.role_name == "Admin" ? true : false )%>
            <% end %>
            <% if @admin_flage %>
              <td><%= button_to "Remove Admin Role", admin_remove_admin_role_path(user.id), :method => :post %></td>
            <% else %>
              <td><%= button_to "Add Admin Role", admin_add_admin_role_path(user.id), :method => :post %></td>
            <% end %>
            <td><%= button_to 'Remove', admin_user_path(user),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table><br/>
  <a href="/" class="btn btn-primary" role="button">Back</a>
</div>