<div class="container">
  <h3><%= @user.full_name %></h3>
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Mobile No:</strong>
        <%= @user.mobile_no %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @user.address %>
      </p>
      <p>
        <strong>Pincode:</strong>
        <%= @user.pincode %>
      </p>
      <p>
        <strong>State:</strong>
        <%= @user.state %>
      </p>
    </div>
    <div class="col-md-6">
      <h4>Previous Orders</h4>
      <%= button_to "Order List", user_orders_path(@user.id), method: :get %>
    </div>
  </div>
  <a href="/admin/users" class="btn btn-primary" role="button">Back</a>
</div>