<div class="form-group">
  <%= form_for @product do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field :price, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, options_from_collection_for_select(@categories, "id", "category") %>
    </div><br/>

    <div class="action">
      <%= f.submit %>
    </div>
  <% end %>
</div>