<div class="container">
  <p><h3><%= @product.category.category_name %>s</h3></p>

  <% if @product.image? %>
    <%= image_tag @product.image %><br />
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <%= button_to "Add to Cart", add_to_cart_path(:product_id => @product), :method => :post %><br/>
  <%= button_to "<Back_to_home", root_path, :method => :get %>
</div>