<div class="container">
  <p><h3><%= @product.category.category_name %>s</h3></p>

  <% if @product.image? %>
    <%= image_tag @product.image %><br />
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <% if user_signed_in? %>
    <% current_user.roles.each do |role| %>
      <% @admin_flage = (role.role_name == "Admin" ? true : false )%>
    <% end %>
    <%= button_to 'Edit', edit_admin_product_path(@product), :method => :get if @admin_flage %><br/>
  <% end %>  
  <%= button_to "Add to Cart", add_to_cart_path(@product.id), :method => :post %><br/>
  <a href="/" class="btn btn-primary" role="button">Back</a>
</div>