<!DOCTYPE html>
<html>
<head>
  <title>Shopmart</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="header"><%= link_to image_tag('shopmart.png'), root_path %></div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Shopmart</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <% current_user.roles.each do |role| %>
              <% @admin_flage = (role.role_name == "Admin" ? true : false) %>
            <% end %>
            <% if @admin_flage %>
              <li><a href="/admin/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/categories/new"><span class="glyphicon glyphicon-plus-sign"></span> Add Category</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/products/new"><span class="glyphicon glyphicon-plus-sign"></span> Add Product</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/categories"><span class="glyphicon glyphicon-minus-sign"></span> Remove Category</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/products"><span class="glyphicon glyphicon-minus-sign"></span> Remove Product</a></li>
                </ul>
              </li>
            <% end %>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% all_available_categories.each do |c| %>
                <li><%=link_to c.category_name, category_path(c) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a href="/carts/id"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge" id="cart_item_count"><%= current_cart.line_items.count %></span></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi <%= current_user.full_name %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/edit"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                <li class="divider"></li>
                <li><a href="/user/<%= current_user.id %>/orders"><span class="glyphicon glyphicon-saved"></span> Orders</a></li>
                <li class="divider"></li>
                <li><%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="glyphicon glyphicon-log-out">Logout</i>
                <% end %></li>
              </ul>
            </li>
          <% else %>
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% if user_signed_in? %>
    <p class="text-right">Login at - <%= current_user.current_sign_in_at.strftime("%d %B, %Y %I:%M:%S %p") %></p>
  <% end %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div id="content"><%= yield %></div>
  <br/>
  <div id="footer">
    <div class="wrap center">
      <ul class="nav nav-pills nav-justified textcolor">
        <li><%= link_to "About Us", about_us_path %></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
      </ul>
    </div>
    <address>&copy; Copyright 2015 All Rights Reserved www.shopmart.com</address>
  </div>
</div>
</body>
</html>
