<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li role="presentation"><%= link_to "Home", root_path %></li>
    <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
    <li role="presentation" class="active"><%= link_to "Signup", new_user_registration_path %></li>
    <li role="presentation"><%= link_to "About Us", about_us_path %></li>
    <li role="presentation"><%= link_to "Contact Us", contact_us_path %></li>
  </ul>
</nav>
<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>*<br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>*
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>*<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
<% end %></div><br/>
<%= link_to "Back", :back %>

<div class="page-footer">* fields must be filled</div>
</div>